<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Home</h1>
    <form action="/logout" method="post">
      <button>Sign Out</button>
    </form>
  </div>
</body>
</html>