<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Login</h1>
    <form action="/login" method="post">
      <div>
          <label for="username">Enter Username:</label>
          <input type="text" name="username" id="username">
      </div>
      <div>
          <label for="password">Enter Password:</label>
          <input type="password" name="password" id="password">
      </div>
      <button>Login</button>
  </form>
  </div>
</body>
</html>