<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Add Product</h1>
    <form action="/addproduct" method="post">
      <div>
          <label for="url">Enter Url:</label>
          <input type="text" name="url" id="url">
      </div>
      <div>
        <label for="site">Enter Site:</label>
        <input type="text" name="site" id="site">
    </div>
      <div>
          <label for="price">Enter Price:</label>
          <input type="text" name="price" id="price">
      </div>
      <button>Add Product</button>
  </form>
  </div>
</body>
</html>