<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Register</h1>
    <form action="/register" method="post">
      <div>
          <label for="username">Enter Username:</label>
          <input type="text" name="username" id="username">
      </div>
      <div>
        <label for="email">Enter Email:</label>
        <input type="email" name="email" id="email">
    </div>
      <div>
          <label for="password">Enter Password:</label>
          <input type="password" name="password" id="password">
      </div>
      <button>Sign Up</button>
  </form>
  </div>
</body>
</html>